@page
@model IndexModel
@{
    ViewData["Title"] = "Quick ASP blog";
    ViewData["Index"] = true;
}

<div class="text-left">
    @foreach (var b in Model.Blog)
    {
        var caption = b.Caption;
        if (string.IsNullOrWhiteSpace(caption))
            caption = "---";
        var text = b.Text;
        if (string.IsNullOrWhiteSpace(text))
            text = "-------------";
        <a asp-page="/Entry" asp-route-id="@b.Id" class="text-decoration-none"><h3>@caption</h3></a>
        <pre class="mb-0">@text</pre>
        <p class="small">Created: @b.DateCreated, Modified: @b.DateModified</p>
    }
</div>
